@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mobile Buttons */
a,
button {
    -webkit-tap-highlight-color: transparent;
}

/* Weather Widget Style Override */
.rw-container {
    border-radius: 0.375rem !important;
    overflow: hidden !important;
}
.rw-forecast-days-panel {
    padding: 10px !important;
}
.rw-container-right {
    background-color: hsl(210, 30%, 17%) !important;
}
.rw-today-hr {
    border-color: hsl(210, 30%, 30%) !important;
    border-width: 0px !important;
}
.rw-forecast-icon {
    display: flex !important;
    justify-content: center !important;
}
.svg-0-2-26 {
    /* margin: auto !important; */
}

/* Scrollbar */ /* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    /* background: hsl(210, 30%, 10%); */
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: hsl(210, 30%, 17%);
    border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: hsl(210, 30%, 30%);
}
